<ion-content [fullscreen]="true">
  <div class="login">
    <div class="login__title">
      <img src="../../../assets/icon/favicon.png" alt="" />
      <span>myFriendsList</span>
    </div>
    <div class="login__body">
      <div class="login__body__item">
        <ion-input
          [(ngModel)]="email"
          fill="outline"
          placeholder="Email"
          autocomplete="new-email"
          type="email"
        ></ion-input>
      </div>
      <div class="login__body__item">
        <ion-input
          [(ngModel)]="password"
          type="password"
          autocomplete="new-password"
          fill="outline"
          placeholder="Password"
        ></ion-input>
      </div>
      <div class="login__body__item">
        <ion-button (click)="onLogin()" expand="block">Login</ion-button>
        <ion-button (click)="onRegister()" fill="clear">Register</ion-button>
      </div>
    </div>
  </div>
</ion-content>
