ion-title {
  text-align: center;
}

ion-list {
  border-radius: 20px;
  padding: unset;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 10px;

  .score {
    display: flex;
    height: 100%;

    &__item {
      display: flex;
      gap: 3px;
      align-items: center;

      ion-icon {
        font-size: 20px;
      }

      span {
        font-size: 14px;
      }
    }
  }
}

.action {
  background-color: #ff5a22;
}

ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
  --padding-start: 0px;
}

.primary-color {
  color: #ff5a22;
}

.logout-icon {
  color: white;
}

.ripple-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  user-select: none;
  padding: 0 5px;
}

.filter {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 10px;
}

ion-grid {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ion-searchbar {
  border: 20px;
}

ion-searchbar,
ion-col {
  padding: 0;
}

::ng-deep {
  .searchbar-search-icon {
    fill: #ff5a22;
  }
  .ion-color.sc-ion-searchbar-md-h .searchbar-input.sc-ion-searchbar-md {
    border-radius: 20px;
  }
}
